/* ---------------ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ---------------SAIL */
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

/* ----------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');


body{background:black; margin: 0; padding: 0;}
.body_container{display: flex; flex-direction: column; align-items: center;width: 100%;}
.header_cont{width: 100%; height: fit-content;position: fixed;display: flex; justify-content: center;z-index: 900;background: linear-gradient(180deg, rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.0));transition:0.3s ease; flex-direction: column;align-items: center;}
.show_header{background: black;transition:0.3s ease;}
html {
    scroll-behavior: smooth;
  }


h1{font-family: "Sail", system-ui;
    font-weight: 400;
    font-style: normal;font-size: 60px;}

h2,h3{font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;}

h4,li,a,p,button{font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;}






.header{width: 85%; height: 100px; display: flex; align-items: center;justify-content: space-between;}
.header>img{width: 150px;object-fit: contain;}
@media screen and (max-width:720px) {
.header>img{width: 100px;object-fit: contain;}  
}

.header_menu{color:white; font-size: 35px;display:none}
@media screen and (max-width:720px) {
  .header_menu{display: flex;}
}

.header_list{display: flex; gap:20px; align-items: center;margin:0px; padding:0px;color:white; list-style-type: none;}
@media screen and (max-width:720px) {
  .header_list{display: none;}
}


.header_list>li{cursor: pointer;}
.header_list>li>a{color:white;text-decoration: none;}


.menu_nav{width: 80%; height: 0px; overflow: hidden;display: none;}
@media screen and (max-width:720px) {
  .menu_nav{display: flex;}
}




.show_menu_nav{padding: 20px 0px;height: fit-content;}


.menu_nav_list{display:flex; flex-direction: column;margin: 0;list-style-type: none; padding: 0px;gap:10px ;}


.menu_nav_list>li{color:white}
.menu_nav_list>li>a{color:white; text-decoration: none;font-size: 18px;display:flex; align-items: center;gap: 20px;padding: 10px 0px;}










.hero{width: 100%; height: 90vh;;}
.hero_overlay{width: 100%; height: 100%; background: rgb(1, 1, 37,0.6);display: flex;flex-direction:column; align-items: center; justify-content: center; gap: 20px;}

.hero_overlay>h2{width: 400px;color:white;text-align: center;margin: 0;text-wrap: wrap; }
.hero_overlay>h1{width: 600px;color:white;text-align: center;margin: 0;}
@media screen and (max-width:720px) {
 .hero_overlay>h2{width: 80%;color:white;text-align: center;margin: 0;text-wrap: wrap; } 
.hero_overlay>h1{width: fit-content;color:white;text-align: center;margin: 0;font-size: 40px;}  
}



.ho_date{width: 400px;color:white; display: flex; border:2px solid white;align-items: center; justify-content: center;padding: 20px 0px;gap: 10px;}
@media screen  and (max-width:720px){
.ho_date{width: 80%;padding: 10px;  }
}


.ho_date>p{display: flex; align-items: center; gap: 10px;;}

.hero_overlay>p{width: 400px;color:white;text-align: center;}
@media screen and (max-width:720px) {
.hero_overlay>p{width: 80%; font-size: 18px; }
}



.hero_overlay_btn{width:fit-content;color:white; border-radius: 20px; padding: 20px 20px;background: none;display: flex; align-items: center;gap: 20px;background:white;color: black; font-size: 17px;cursor: pointer;border: none;font-weight: 500;}
.hero_overlay_btn:hover{background:#C5A880;;color: black;}



.r_icon{animation: ico 0.8s ease-in infinite alternate-reverse  ;font-size: 20px;transition:0.8s ease; left: 15px;position: relative;}

@keyframes ico {
    from{left: 0px;transition:0.8s ease;opacity: 0.3;}to{left: 15px;transition:0.8s ease; opacity: 1;;}
}


.date_hero{width: 100%; height: 90vh;}

@media screen and (max-width:720px) {
.date_hero{width: 100%; height: fit-content;}   
}

.date_hero_overlay{width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;background: rgb(255, 255, 255,0.8);}

.dho_cont{width: 85%; height: fit-content; display: flex; gap: 50px;;}
@media screen and (max-width:720px) {
  .dho_cont{flex-direction: column;padding: 40px 0px;}
}

.wedding_date{flex:1; display: flex; flex-direction: column;gap: 20px;align-items: center;}
.wedding_date>h2{font-size: 35px; color:white;color:#947141;}

@media screen and (max-width:720px) {
  .wedding_date>h2{font-size: 30px; color:white;color:#947141;margin: 5px 0px;}
}


.wd_desc{width: 100%; display: flex; justify-content: space-between;gap: 40px;}
@media screen and (max-width:720px) {
 .wd_desc{width: 100%; display: flex; justify-content: space-between;gap: 0px;flex-direction: column;} 
}




.wd_frag1{display: flex; gap: 10px; align-items: center;flex: 1; border-right: 1px solid #C5A880;}
@media screen and (max-width:720px) {
 .wd_frag1{display: flex; gap: 10px; align-items: center;flex: 1; border-right: none} 
}

.wd_frag1>p{width: 80%;}
.wd_frag1>p>a{color:rgb(0, 0, 0); font-size: 20px;text-decoration: none;}
.wd_icon{font-size: 50px;color:#947141;}
@media screen and (max-width:720px) {
 .wd_icon{font-size: 20px;color:#947141;} 
}
.wd_frag2{display: flex; flex-direction: column; align-items: left;flex: 1;}
.wd_frag2>p{display: flex; align-items: center;gap:10px;color: rgb(0, 0, 0);font-size: 19px;}
.wd_frag2>h4{display: flex; align-items: center;gap:10px;color: rgb(0, 0, 0);font-size: 22px;margin-top: 0;}
.wdf_i1{color:#947141;; font-size: 15px;}
.wdf_i2{color:#947141;; font-size: 18px;}



.ps_wrapper{width: 100%; height: fit-content;display:flex; flex-direction: column; gap: 30px;margin-top: 90px; align-items: center; }

.ps_wrapper>h2{color:white}
.ps_ctr{width: 85%; display: flex; gap: 50px;color: white; align-items: center; justify-content: flex-end;}
.ps_ctr>button{background: none; border:none;cursor: pointer;padding: 10px 15px;border:1px solid #C5A880; color: #C5A880;transition:0.3s ease}
.ps_ctr>button:hover{border:1px solid white; border-radius: 4px;color:white;transition:0.3s ease}

.ps_icon{font-size: 25px;}

.photo_speak{width: 100%; height: 400px;  display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; margin-top: var(--s5);;}

    .photo_speak::-webkit-scrollbar {
        display: none;
      }
      .photo_speak {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }


      .photo_speak_image{height: 100%; min-width: 400px;;background: none;margin: 0 10px; scroll-snap-align: start;overflow: hidden;display: flex; flex-direction: column; align-items: center;border-radius: 10px; background: rgb(3, 5, 32);}


.sponsor{width: 100%; height: fit-content;display: flex; flex-direction: column;background: rgb(0, 0, 0);padding: 40px 0px;align-items: center;height: 300px;justify-content: center;}

.sponsor>h3{font-size: 26px;color: white;}

.location{width: 100vw; height: 700px;background: white;display: flex; align-items: center; justify-content: center;padding: 40px 0px 40px 0px;position: relative;flex-direction: column;}

.location>h2{margin: 0;margin-bottom: 20px;;}

@media screen and (max-width:720px) {
 .location{width: 100vw; height: 400px; }
}


.location_card{width: 50vw; height: 100%;position: relative ;}
@media screen and (max-width:720px) {
 .location_card{width: 70vw; height: 80%;position: relative ;} 
}



.location_card>img{width: 100%; height: auto; object-fit: contain;}
.loc{position: relative;position: relative;left: 36%; bottom:25%; display: flex;align-items: center;justify-content: center;width: fit-content;height: fit-content;}
.loc>a{text-decoration: none; color:black;}

.loc2{left: 40%; bottom:35%;}

.loc3{left: 45%; bottom:19%;}




.loc_icon{font-size: 29px;position: absolute;bottom: 2px;}
.loc_nav{display:flex; width: 25px; height: 10px; border-radius: 50%; background: rgb(22, 3, 129);position: absolute; animation: nav 0.8s ease-in infinite alternate-reverse; }

@keyframes nav {
   from{outline: 1px solid rgb(28, 18, 161); transition: 0.4s ease-in-out;outline-offset: 0px;} to{outline: 1px solid rgb(248, 248, 248,0.0); transition: 0.4s ease-in-out;outline-offset: 4px;}
}

.loc_info{position: absolute; width: max-content; padding: 10px 25px;background: white; ;left: 18px;bottom: 10px;border: 1px solid rgb(181, 181, 248);}
.loc_info>p{margin: 0px;; padding:0px;}
@media screen and (max-width:720px) {
.loc_info>p{font-size: 10px;}  
}




.loc_info::before{ content: " "; width: 16px ; height: 16px; background: rgb(255, 255, 255);left: -9px;position: absolute;transform: rotate(38deg);border: 1px solid rgb(181, 181, 248);border-right: 0px;border-top: 0px;}
.loc1_info{left: -180px}
@media screen and (max-width:720px) {
 .loc1_info{left: -140px} 
}

.loc1_info::before{left: 95%;transform: rotate(220deg);}

.loc2_info{left: -150px}
@media screen and (max-width:720px) {
 .loc2_info{left: -120px} 
}
.loc2_info::before{left: 93%;transform: rotate(220deg);}

.payment_modal{width: 100%; height: 100%; position: fixed;background: rgb(250, 243, 243);display: flex; align-items: center;flex-direction:column; align-items: center;justify-content:center;z-index: 900; gap: 30px;}

.payment_modal>button{border-radius: 50%; padding: 20px; border: none;background: white;}


.modal_card{width: 500px; height: 70%; background: white; border-radius: 10px;display: flex; flex-direction: column; gap: 25px;align-items: center; ;position: relative;overflow: hidden;}

@media screen and (max-width:720px) {
  .modal_card{width: 80%;}
}


.active_account{width: fit-content; height: 40px; border: 20pc; padding: 5px 5px; background:rgb(250, 243, 243) ;display: flex; gap: 10px; display: flex; align-items: center; justify-content: center; border-radius: 20px;margin-top: 10px;cursor: pointer;}
.active_account>img{width: 35px; height: 35px; border-radius: 50%; object-fit: cover;}
.active_account>p{font-size: 12px; margin: 0; padding: 0;}
.account_details{width: 90%; height: 80%; display: flex; flex-direction: column;;}

.account_details>h4{font-size: 14px; margin: 0;;margin-bottom: 20px;}
.ad_info{display: flex; flex-direction: column;}
.ad_info>p{font-size: 12px; color: grey;}
.ad_info>h4{margin: 0px; display: flex; justify-content: space-between;}
.ad_info>h2>span{font-size: 15px;}
.c_btn{cursor: pointer;}
.alert{position: absolute; color: greenyellow;left:80%;opacity: 0;transition: 0.4s ease;}
.show_alert{opacity: 1;transition: 0.4s ease;}
.float_modal{position: absolute; width: 100%; height: 100%; background: rgb(14, 13, 13,0.4);;display: flex; flex-direction: column; align-items: flex-end;justify-content: flex-end;}
.float_modal_child{width: 100%; height: 70%; background: white;border-radius: 20px 20px 0px 0px;display: flex; justify-content: center; position: relative;bottom: -100%;;}
.show_float_modal_child{bottom: 0%; animation: draw 0.4s ease-in-out;}


@keyframes draw { from{bottom: -100%;}to{bottom: 0%}
    
}

.fmc_info{width: 90%; display: flex; flex-direction: column;;}
.fmc_list{display: flex; flex-direction: column;list-style-type: none; padding: 0; margin: 0;gap: 10px;;}
.fmc_li{display: flex; justify-content: space-between; align-items: center;cursor: pointer;padding: 0px 10px;}
.fmc_li:hover{background: rgb(248, 247, 247);}

.fmc_icons{display: flex; align-items: center; gap: 10px;}
.fmc_icons>img{width: 30px; height: 30px; border-radius: 50%; object-fit: cover;}
.fmc_icons>h5{font-size: 15px;}

















